@model Implementacija.Models.RezervacijaDvorane
@{
    ViewData["Title"] = "Reserve";
    Model.dvoranaId = Model.dvorana.Id;
    Model.dvoranaId = Model.dvorana.Id;
    dynamic data = ViewBag.Data;
}
@using Implementacija.Services
<h1>Reserve</h1>

<h4>RezervacijaKarte</h4>
<hr />


<div class="row mt-3">
    <div class="col-md-4">
        <form asp-action="CreateReserve">
            @Html.HiddenFor(x => x.rezervacijaId)
            @Html.HiddenFor(x => x.izvodjacId)
            @Html.HiddenFor(x => x.dvoranaId)
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
