@* ExcludeFromCodeCoverage *@

@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <style>
        .privacy-box {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        </style>
</head>

<body>
    <div class="privacy-box"> 
    <h1>@ViewData["Title"]</h1>
    <p>Ova Politika privatnosti objašnjava kako prikupljamo, koristimo, otkrivamo i štitimo vaše lične podatke prilikom rezervisanja koncerata, iznajmljivanja dvorana i kupovine karata putem naše platforme. Posvećeni smo zaštiti privatnosti i sigurnosti vaših ličnih podataka i poštovanju primjenjivih zakona o zaštiti podataka. Korištenjem naših usluga pristajete na uslove koji su navedeni u ovoj Politici privatnosti.</p>
    <p>1. Prikupljanje informacija</p>
    <p>1.1. Lični podaci: Prilikom rezervisanja koncerata, iznajmljivanja dvorana ili kupovine karata možemo prikupiti lične podatke kao što su vaše ime, e-mail adresa, broj telefona, adresa za naplatu i podaci o plaćanju. Ove informacije prikupljamo kako bismo obradili vaše rezervacije, omogućili komunikaciju i pružili tražene usluge.</p>
    <p>1.2. Informacije o korištenju: Možemo prikupljati informacije o tome kako interagujete s našom platformom, uključujući IP adresu, informacije o uređaju, tip preglednika, operativni sistem i referentne URL-ove. Ove informacije nam pomažu poboljšati naše usluge, unaprijediti sigurnost i analizirati trendove.</p>
    <p>1.3. Kolačići i slične tehnologije: Koristimo kolačiće i slične tehnologije kako bismo prikupili informacije i personalizirali vaše iskustvo. Ove tehnologije nam omogućavaju da zapamtimo vaše preferencije, pružimo relevantan sadržaj i sakupimo statističke podatke. Možete upravljati postavkama kolačića putem postavki preglednika.</p>
    <p>2. Korištenje informacija</p>
    <p>2.1. Pružanje usluga: Koristimo vaše lične podatke kako bismo obradili vaše rezervacije, iznajmljivanja dvorana i kupovinu karata. To uključuje komunikaciju s vama, potvrdu rezervacija, olakšavanje plaćanja i dostavljanje karata ili detalja o iznajmljivanju.</p>
    <p>2.2. Komunikacija: Vaše kontakt informacije možemo koristiti kako bismo vam slali važne ažuriranja, transakcijske e-mailove i relevantne promotivne ponude. U bilo kojem trenutku možete se odjaviti od marketinških komunikacija s naše strane.</p>
    <p>2.3. Unapređenje usluga: Analiziramo informacije o korištenju kako bismo poboljšali naše usluge, razvili nove funkcionalnosti i unaprijedili korisničko iskustvo. To uključuje personalizaciju sadržaja, preporuku relevantnih događaja i prilagođavanje naše platforme prema vašim preferencijama.</p>
    <p>2.4. Pravni zahtjevi: Možemo biti obavezni da obradimo i otkrijemo vaše lične podatke kako bismo ispunili primjenjive zakone, propise, pravne procese ili izvršive zahtjeve nadležnih vlasti.</p>
    
    <p>3. Vaša prava i izbori</p>
    <p>3.1Imate pravo pristupa, ažuriranja, ispravljanja i brisanja vaših ličnih podataka. Također možete imati pravo ograničiti ili se usprotiviti određenim aktivnostima obrade. Molimo vas da nas kontaktirate putem informacija navedenih ispod kako biste ostvarili svoja prava ili za sva pitanja u vezi s vašim ličnim podacima.</p>
     <p>4. Izmjene politike privatnosti</p>
    <p>Povremeno možemo ažurirati ovu Politiku privatnosti kako bismo odražavali promjene u našim uslugama i praksama privatnosti. Molimo vas da redovno pregledavate ovu Politiku privatnosti radi bilo kakvih ažuriranja.</p>
    <p>5. Kontaktirajte nas</p>
    <p>Ako imate bilo kakva pitanja, zabrinutosti ili zahtjeve u vezi s ovom Politikom privatnosti ili našim praksama privatnosti, molimo vas da nas kontaktirate na [kontaktirajte email ili adresu].</p>
    
    </div>
</body>
