@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation";
    Layout = "_Layout";
}
<div class="container">
    <h2 class="text-center">Potvrda Registracije </h2>

    <div class="card">
        <div class="card-body">
            <p class="text-success text-center">Thank you for registering the concert!</p>
            <p class="text-center">We look forward to seeing you there.</p>
        </div>
    </div>
    <div>
            <a class="tipka" asp-controller="Home" asp-action="Index">Vrati se na pocetnu</a>
            </div>
</div>
